.gradation-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --color-bg1: oklch(from #075c3d l c h);
  --color-bg2: oklch(from #075c3d l c h);
  --color1: oklch(from #eaa398 l c h);
  --color2: oklch(from #86ccb2 l c h);
  --color3: oklch(from #a26b62 l c h);
  --color4: oklch(from #25a475 l c h);
  --color5: oklch(from #096b47 l c h);
  --color-interactive: 50, 225, 120;
  --circle-size: 10%;
  --blending: screen;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gradient-bg svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.gradation1 {
  position: absolute;
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  opacity: 1;
  mix-blend-mode: var(--blending);
  animation: moveVertical 30s ease infinite;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
}

.gradation2 {
  position: absolute;
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  opacity: 1;
  mix-blend-mode: var(--blending);
  animation: moveInCircle 20s reverse infinite;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
}

.gradation3 {
  position: absolute;
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  opacity: 1;
  mix-blend-mode: var(--blending);
  animation: moveInCircle 40s linear infinite;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
}

.gradation4 {
  position: absolute;
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  opacity: 0.7;
  mix-blend-mode: var(--blending);
  animation: moveHorizontal 40s ease infinite;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
}

.gradation5 {
  position: absolute;
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  opacity: 1;
  mix-blend-mode: var(--blending);
  animation: moveInCircle 20s ease infinite;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
}

.gradationInteractive {
  position: absolute;
  top: -50%;
  left: -50%;
  opacity: 0.7;
  mix-blend-mode: var(--blending);
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  width: 100%;
  height: 100%;
}
