---
import Container from '../components/atoms/Container';
import Textlink from '../components/atoms/Textlink';
import Layout from '../layouts/Layout.astro';
import Spacer from '../components/atoms/Spacer';
import Logo from '../components/vi/Logo';

// ベースパスを取得（Astroのbase設定を考慮）
const basePath = import.meta.env.BASE_URL || '/';
---

<Layout meta="global.policy">
  <main class="inner_lg bg-gray-25">
    <div class="px-4 pt-4">
      <Container
        size="5xl"
        className={`
          relative flex aspect-[3/2] max-h-[400px] w-full items-center
          justify-center
          xl:aspect-[32/9]
        `}
      >
        <div
          class={`
            justeify-center relative z-10 flex flex-col items-center gap-2
          `}
        >
          <h2>
            <a href={basePath === '/' ? '/' : `${basePath}/`}>
              <Logo className="h-[120px] w-auto text-brand-500" />
            </a>
          </h2>
          <Spacer size="4xs" />
          <h3 class="type-2xl font-sans font-bold tracking-wide text-gray-600">Not Found</h3>
          <h4 class="type-sm font-medium text-gray-600">お探しのページは見つかりませんでした。</h4>
          <Spacer size="4xs" />
          <p class="type-md text-center">
            <Textlink
              href={basePath === '/' ? '/' : `${basePath}/`}
              target="_blank"
              rel="noreferrer"
              size="xl"
              hierarchy="secondary"
              underline="ppp"
              className="tracking-widest"
            >
              BACK TO HOME PAGE
            </Textlink>
          </p>
        </div>
        <div
          class={`
            fluid-width-[300px,960px] absolute top-1/2 left-1/2 z-0
            -translate-1/2
          `}
        >
          <svg
            aria-hidden="true"
            aria-label="404"
            viewBox="0 0 960 480"
            class={`
              aspect-[2/1] h-auto fluid-w-[300px,960px] fill-gray-300 opacity-50
            `}
            role="img"
          >
            <path
              d="M956.993 261.835L957.035 261.892L957.093 261.935C958.731 263.167 959.54 264.786 959.54 266.839V350.375C959.54 352.435 958.723 354.301 957.039 355.989C955.826 357.204 954.198 357.831 952.1 357.831H930.264C929.084 357.831 928.107 358.127 927.429 358.807C926.751 359.486 926.456 360.464 926.456 361.646V464.408C926.456 466.468 925.64 468.335 923.955 470.022C922.742 471.238 921.114 471.864 919.016 471.864H825.058C822.985 471.864 821.124 471.251 819.461 470.018C818.231 468.352 817.618 466.487 817.618 464.408V361.646C817.618 360.464 817.323 359.486 816.645 358.807C815.967 358.127 814.99 357.831 813.81 357.831H645.745C643.671 357.831 641.811 357.218 640.147 355.985C638.917 354.318 638.305 352.453 638.305 350.375V284.077C638.305 280.581 638.741 277.543 639.603 274.953L639.603 274.95L724.298 15.0606L724.298 15.0606L724.301 15.0491C724.941 12.9118 725.94 11.3547 727.27 10.3293C728.599 9.30545 730.304 8.77582 732.424 8.77582H832.998C835.523 8.77582 837.343 9.61127 838.553 11.2274C839.752 12.8295 839.986 14.857 839.14 17.3997L839.137 17.4098L765.692 254.758L765.682 254.79L765.676 254.824C765.448 256.195 765.538 257.345 766.084 258.166C766.651 259.018 767.616 259.384 768.816 259.384H813.81C814.99 259.384 815.967 259.088 816.645 258.408C817.323 257.729 817.618 256.75 817.618 255.569V198.552C817.618 196.449 818.244 194.817 819.457 193.601C821.141 191.914 823.003 191.096 825.058 191.096H919.016C921.064 191.096 922.68 191.906 923.909 193.548L923.952 193.605L924.009 193.648C925.647 194.879 926.456 196.499 926.456 198.552V255.569C926.456 256.75 926.751 257.729 927.429 258.408C928.107 259.088 929.084 259.384 930.264 259.384H952.1C954.147 259.384 955.764 260.193 956.993 261.835Z"
              stroke="#D7D3D0"></path>
            <path
              d="M460.027 105.451L460.02 105.46L460.015 105.47C455.539 112.646 453.322 122.029 453.322 133.58V347.06C453.322 358.612 455.539 367.994 460.015 375.17L460.02 375.18L460.027 375.189C464.963 382.383 471.508 386.013 479.627 386.013C487.747 386.013 494.076 382.383 498.573 375.18C503.494 368.002 505.933 358.615 505.933 347.06V133.58C505.933 122.025 503.494 112.638 498.573 105.46C494.076 98.2571 487.747 94.6266 479.627 94.6266C471.508 94.6266 464.963 98.2566 460.027 105.451ZM479.627 479.82C438.717 479.82 405.992 467.042 381.398 441.52C356.801 415.994 344.484 382.315 344.484 340.431V140.21C344.484 98.3251 356.801 64.6457 381.398 39.12C405.992 13.5976 438.717 0.820007 479.627 0.820007C520.538 0.820007 553.263 13.5976 577.857 39.12C602.453 64.6457 614.77 98.3251 614.77 140.21V340.431C614.77 382.315 602.453 415.994 577.857 441.52C553.263 467.042 520.538 479.82 479.627 479.82Z"
              stroke="#D7D3D0"></path>
            <path
              d="M319.227 261.835L319.27 261.892L319.327 261.935C320.965 263.167 321.774 264.786 321.774 266.839V350.375C321.774 352.435 320.957 354.301 319.273 355.989C318.06 357.204 316.432 357.831 314.334 357.831H292.499C291.319 357.831 290.342 358.127 289.663 358.807C288.985 359.486 288.69 360.464 288.69 361.646V464.408C288.69 466.468 287.874 468.335 286.19 470.022C284.977 471.238 283.348 471.864 281.25 471.864H187.293C185.219 471.864 183.359 471.251 181.695 470.018C180.465 468.352 179.853 466.487 179.853 464.408V361.646C179.853 360.464 179.557 359.486 178.879 358.807C178.201 358.127 177.224 357.831 176.044 357.831H7.97914C5.90584 357.831 4.04515 357.218 2.38178 355.985C1.15167 354.318 0.539062 352.453 0.539062 350.375V284.077C0.539062 280.581 0.97535 277.543 1.83685 274.953L1.8378 274.95L86.532 15.0606L86.5321 15.0606L86.5356 15.0491C87.1755 12.9118 88.1743 11.3547 89.5048 10.3293C90.8331 9.30545 92.5384 8.77582 94.6583 8.77582H195.233C197.757 8.77582 199.578 9.61127 200.787 11.2274C201.987 12.8295 202.221 14.857 201.375 17.3997L201.372 17.4098L127.926 254.758L127.916 254.79L127.91 254.824C127.682 256.195 127.772 257.345 128.318 258.166C128.885 259.018 129.851 259.384 131.05 259.384H176.044C177.224 259.384 178.201 259.088 178.879 258.408C179.557 257.729 179.853 256.75 179.853 255.569V198.552C179.853 196.449 180.478 194.817 181.691 193.601C183.376 191.914 185.238 191.096 187.293 191.096H281.25C283.298 191.096 284.914 191.906 286.143 193.548L286.186 193.605L286.243 193.648C287.882 194.879 288.69 196.499 288.69 198.552V255.569C288.69 256.75 288.985 257.729 289.663 258.408C290.342 259.088 291.319 259.384 292.499 259.384H314.334C316.382 259.384 317.998 260.193 319.227 261.835Z"
              stroke="#D7D3D0"></path>
          </svg>
        </div>
      </Container>
    </div>
  </main>
</Layout>
