---
import Logo from '../components/vi/Logo';
import Container from '../components/atoms/Container';
import Layout from '../layouts/Layout.astro';
import Spacer from '../components/atoms/Spacer';
import Br from '../components/atoms/Br';

const companyInfoItems = [
  { label: 'Business Name', value: '鳥井住設<br/>TORII Jusetsu' },
  {
    label: 'Services',
    value: '一般住宅設備の販売・施工',
  },
  {
    label: 'Representative',
    value: '鳥井邦幸<br/>TORII Kuniyuki',
  },
  {
    label: 'Address',
    value:
      '〒238-0315 神奈川県横須賀市林 2-1-2-38<br/>2-1-2-38 Hayashi, Yokosuka-shi, Kanagawa 238-0315, Japan',
  },
  { label: 'E-Mail', value: 'hello@toriijusetsu.com' },
];
---

<Layout meta="siteInfo.home">
  <main>
    <div class="relative grid h-svh w-full place-items-center bg-[#171D5D]">
      <div class="flex flex-col gap-4">
        <h2
          class={`
            fluid-t-[13px,15px] text-center font-sans leading-normal font-medium
            text-white
          `}
        >
          神奈川県横須賀市・三浦市を<Br all />中心とした住宅設備の販売・施工
        </h2>
        <Logo className="relative z-10 mx-auto h-auto fluid-w-[160px,240px]" />
      </div>
      <div class="noise-bg absolute inset-0 z-0 size-full mix-blend-overlay">
      </div>
    </div>
    <Container size="sm" className="inner_sm-t">
      <Spacer size="sm" />
      <div class="grid grid-cols-1">
        <div
          class={`
            col-span-1 flex flex-col gap-2 border-y border-gray-200 py-4
            [&>div]:last:border-b-0
          `}
        >
          {
            companyInfoItems.map((item) => (
              <div
                class={`
                  grid w-full grid-cols-1 gap-2 border-b border-gray-200 py-2
                  lg:grid-cols-1 lg:gap-3 lg:py-6
                `}
              >
                <dt
                  class={`
                    type-md col-span-1 font-sans font-medium text-gray-500
                  `}
                >
                  {item.label}
                </dt>
                <dd
                  class="type-lg col-span-1 font-sans text-gray-700"
                  set:html={item.value}
                />
              </div>
            ))
          }
        </div>
      </div>
      <Spacer size="sm" />
      <div class={`grid grid-cols-1`}>
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSd7r2zfvx-6egBp6AiNmi-QTXCF8y0jI4cmzM_yfeIBXatTAQ/viewform?embedded=true"
          width="112%"
          height="100%"
          class={`
            mx-auto ml-[-6%] h-[930px]
            md:h-[860px]
          `}
        >
        </iframe>
      </div>
    </Container>
  </main>
</Layout>
